<h1>Editing Item</h1>

<%= render 'form' %>

<%= link_to 'Show', @item %> |
<<<<<<< HEAD
<%= link_to 'Back', my_items_path %>
=======
<%= link_to 'Back', items_path %>
>>>>>>> 6d5d9cd7ecbd7caf6903b80376004256dd51da94
